<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
    <style type="text/css">
        html,
        body {
            height: auto;

            background-color: #3498db;
            color: black;
            padding-bottom: 250px;
        }

        #wrap {
            display: flex;
            align-items: center;
        }

        #container {
            background-color: white;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, 0%);
            margin-top: -250px;
            margin-bottom: 250px;
            border-radius: 4px;
            padding: 20px;
        }

        #header {
            text-align: center;
        }

        table {
            text-align: center;
            /* padding: 5px 0 5px 0; */
            width: 100%;
            height: 100%;
            border-top: 1px solid #444444;
            border-collapse: collapse;
        }

        td {
            padding: 10px;
        }

        input:invalid {
            outline: 1px solid red;
        }

        input:valid {
            outline: 1px solid green;
        }

        /* Chrome, Safari, Edge, Opera */
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        /* Firefox */
        input[type=number] {
            -moz-appearance: textfield;
        }
    </style>
    <script type="text/javascript">
        function check_pw() {
            let pw1 = document.getElementById('userPW')
            let pw2 = document.getElementById('reEnter')

            if (pw1.value == pw2.value) {
                document.getElementById('check').innerHTML = '비밀번호가 일치합니다.'
                document.getElementById('check').style.color = 'blue';
            }
            else {
                document.getElementById('check').innerHTML = '비밀번호가 일치하지 않습니다.';
                document.getElementById('check').style.color = 'red';
            }

            if ((pw1.value == '') && (pw2.value == '')) {
                document.getElementById('check').innerHTML = '비밀번호를 입력해주세요.'
                document.getElementById('check').style.color = 'red';
            }

        }

        function check_required() {
            if (document.register_form.userID.value == "") {
                alert("아이디를 입력하세요!");
                document.register_form.userID.focus();
            }

            else if (document.register_form.userPW.value == "") {
                alert("비밀번호를 입력하세요!");
                document.register_form.userPW.focus();
            }

            else if (document.register_form.reEnter.value == "") {
                alert("비밀번호 확인을 입력하세요!");
                document.register_form.reEnter.focus();
            }

            else if (document.register_form.name.value == "") {
                alert("이름을 입력하세요!");
                document.register_form.name.focus();
            }

            else if (document.register_form.nickname.value == "") {
                alert("닉네임을 입력하세요!");
                document.register_form.nickname.focus();
            }

            else if (document.register_form.cell_phone.value == "") {
                alert("전화번호를 입력하세요!");
                document.register_form.cell_phone.focus();
            }

            else if (document.register_form.yy.value == "") {
                alert("출생년도를 입력하세요!");
                document.register_form.yy.focus();
            }

            else if (document.register_form.mm.value == "") {
                alert("출생월을 입력하세요!");
                document.register_form.mm.focus();
            }

            else if (document.register_form.dd.value == "") {
                alert("출생일을 입력하세요!");
                document.register_form.dd.focus();
            }

            else if (document.register_form.sex.value == "") {
                alert("성별을 입력하세요!");
                document.register_form.sex.focus();
            }

            else if (document.register_form.gather_agree.value == "") {
                alert("개인정보 활용동의 여부를 입력하세요!");
                document.register_form.gather_agree.focus();
            }

            else {
                // let userID = document.getElementById("userID").value
                // let userPW = document.getElementById("userPW").value
                // let name = document.getElementById("name").value
                // let nickname = document.getElementById("nickname").value
                // let cell_phone = document.getElementById("cell_phone").value
                // let yy = document.getElementById("yy").value
                // let mm = document.getElementById("mm").value
                // let dd = document.getElementById("dd").value
                // let sex = document.getElementById("sex").value
                
                // fetch ('/')

                document.forms["register_form"].submit();
            }

        }
    </script>
</head>

<body>
    <div id="wrap">
        <div id="header">
        </div>
        <form id="register_form" name="register_form" method="POST" action="/api/auth/register" onsubmit="required()">
            <div id="container">
                <div id="content">
                    <table width="940" style="padding:5px 0 5px 0;">
                        <tr>
                            <h3>Poor Guys 회원가입</h3>
                        </tr>
                        <tr>
                            <td colspan="4"></td>
                        </tr>
                        <tr>
                            <td>
                                <h3>아이디</h3>
                            </td>
                            <td><span><input type="text" id="userID" name="userID" /></span></td>
                        </tr>
                        <tr>
                            <td>
                                <h3>비밀번호</h3>
                            </td>
                            <td><span><input type="password" id="userPW" name="userPW" onchange="check_pw()" /></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h3>비밀번호 재확인</h3>
                            </td>
                            <td><span><input type="password" id="reEnter" name="reEnter" onchange="check_pw()" /></span>
                            </td>
                            <td colspan="2"><span id="check"></span></td>
                        </tr>
                        <tr>
                            <td>
                                <h3>이름</h3>
                            </td>
                            <td><span><input type="text" id="name" name="name" /></span></td>
                        </tr>
                        <tr>
                            <td>
                                <h3>닉네임</h3>
                            </td>
                            <td><span><input type="text" id="nickname" name="nickname" /></span></td>
                        </tr>
                        <tr>
                            <td>
                                <h3>전화번호</h3>
                            </td>
                            <td><span><input type="number" id="cell_phone" name="cell_phone" pattern="[0-9]+" /></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h3>생년월일</h3>
                            </td>
                            <td id="birth_yy">
                                <span><input type="number" id="yy" name="yy" placeholder="년(4자)" pattern="[0-9]+"
                                        maxlength="4"></span>
                            </td>
                            <td id="birth_mm">
                                <span>
                                    <select id="mm" name="mm">
                                        <option value>월</option>
                                        <option value="01">1</option>
                                        <option value="02">2</option>
                                        <option value="03">3</option>
                                        <option value="04">4</option>
                                        <option value="05">5</option>
                                        <option value="06">6</option>
                                        <option value="07">7</option>
                                        <option value="08">8</option>
                                        <option value="09">9</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                    </select>
                                </span>
                            </td>
                            <td id="birth_dd">
                                <span><input type="text" id="dd" name="dd" placeholder="일" maxlength="2"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h3>성별</h3>
                            </td>
                            <td>
                                <span>
                                    <select id="sex" name="sex">
                                        <option value="1">남자</option>
                                        <option value="0">여자</option>
                                    </select>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h3>개인정보 수집동의</h3>
                            </td>
                            <td><span>동의<input type="radio" name="gather_agree" value="1" /></span>
                            </td>
                            <td><span>동의하지 않음<input type="radio" name="gather_agree" value="0" checked /></span></td>
                        </tr>
                        <br>
                        <tr id="btn_area">
                            <td><button type="button" onclick="check_required()" id="btnSend"><span>가입하기</span></button>
                            </td>
                            <td><button type="button" onclick="location.href = '/'">로그인 화면으로 돌아가기!</button></td>

                        </tr>
                    </table>
                </div>
            </div>
        </form>
    </div>
</body>

</html>